/* imported font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  margin-top: 130px;
}

/* Banner title */
.main-title {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 80px;
  margin-bottom: 10px;
}
/* Title text */
.title-text {
  color: #121212;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
}
/* Primary text */
.primary-text {
  color: #707070;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: center;
}
/* Primary button */
.btn-primary {
  background: #ff5959;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  padding: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Banner */
.banner {
  background-image: linear-gradient(#2e303027, rgba(6, 13, 20, 0.24), rgba(0, 3, 3, 0.993)), url("../images/donation7.jpg");
  background-repeat: no-repeat;
  width: 100%;
  padding: 175px;
  text-align: center;
  opacity: 0.7, 0;
  position: center center;
}

.banner-text {
  color: #fff;
  margin-bottom: 30px;
}

/* main style */
main {
  max-width: 1130px;
  margin: 0 auto;
}

.donate-amount-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin-top: 90px;
}

.donate-amount-btn {
  font-size: 30px;
  border: 0;
  font-weight: 700;
  color: #707070;
}

.secondar-btn {
  background: #ffeeee;
  border: 1px solid #ff5959;
  border-radius: 5px;
  padding: 30px 10px;
}

.other-amount {
  text-align: center;
}

.other-amount input {
  width: 800px;
  height: 40px;
  border: none;
  text-align: center;
  border-bottom: 1px solid rgba(158, 153, 153, 0.493);
  margin-top: 50px;
  outline: none;
  transition: boder-bottom 3s;
}

.other-amount input::placeholder {
  color: #b3b3b3;
  font-weight: 400;
  font-size: 18px;
}

.other-amount:hover input {
  border-bottom: 1px solid rgba(7, 5, 5, 0.842);
}

.plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 29px;
  margin-top: 50px;
}

.plan {
  border-radius: 5px;
  padding: 55px 25px 40px 25px;
  font-weight: 400;
  line-height: 24px;
}

.plan-light-green {
  background: rgba(79, 157, 166, 0.1);
}
.plan-light-pink {
  background: rgba(255, 89, 89, 0.1);
}
.plan-light-yellow {
  background: #fff4d6;
}

.plan img {
  margin-bottom: 20px;
}

.plan .plan-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-family: poppins;
  color: #121212;
}

.plan-description {
  font-size: 16px;
  font-family: poppins;
  color: #707070;
}
/* how to contribute */
.your-donation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin: 0 140px 0 0;
  gap: 150px;
  margin-bottom: 30px;
}

.your-donation-blog h2 {
  line-height: 56px;
  text-align: left;
  margin-bottom: 20px;
}

.your-donation-blog p {
  text-align: left;
}
.your-donation-blog p:first-child {
  margin-bottom: 10px;
}

.your-donation-img {
  width: 70%;
}

.your-donation-img img {
  width: 100%;
  object-fit: cover;
  height: 477px;
  border-radius: 5px;
  object-position: left bottom;
}

.subscribe {
  background: #fff4d6;
  text-align: center;
  margin: 50px 200px 130px;
  padding: 75px 0;
}

.subscribe input {
  width: 60%;
  height: 50px;
  border: 0;
  background: gray;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
  color: #fff;
  position: relative;
}

.subscribe input::placeholder {
  color: #ddd5d5;
  font-weight: 500;
  font-size: 16px;
  font-family: poppins;
}

.subscribe .btn-primary {
  position: absolute;
  left: 58%;
  padding: 14px;
  border-radius: 0 5px 5px 0;
  padding-bottom: 13px;
}

footer {
  background: #0b0d17;
  text-align: center;
  padding-top: 50px;
}

.footer-text {
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.5px;
  color: #ff5959;
  font-family: "Lobster";
}

footer p {
  font-size: 14px;
  line-height: 30px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
  padding-bottom: 40px;
}
